---
layout: page
---
<div class="post">
  <article>
    {% if page.profiles %}
      <hr>
      {% for profile in page.profiles %}
       <div class="clearfix">
          {{ profile.align }}
          {{ profile.image }}
          {{ profile.content }}
          {{ profile.image_circular }}
          {{ profile.more_info }}
        </div>
      {% endfor %}
    {% endif %}
  </article>
</div>
